body {
    display: grid;
    grid-template-areas: "header header" "nav conteudo" "nav rodape";
    height: 600px;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
    background-color: red;
}

.container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

header {
    grid-area: header;
    background-color: plum;
}

nav {
    grid-area: nav;
    background-color: lightgray;
}

section {
    grid-area: conteudo;
    background-color: antiquewhite;
}

footer {
    grid-area: rodape;
    background-color: green;
}