.flexbox {
    display: flex;
    border: 1px solid black;
    background-color: antiquewhite;
    width: 500px;
    height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /*horizontal*/
    align-items: flex-start;
    /*vertical*/
    align-content: flex-start;
}

.item {
    display: flex;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    background-color: azure;
    justify-content: center;
    align-items: center;
}

.maior {
    font-size: 80px;
    height: 100px;
}

.menor {
    font-size: 15px;
    height: 20px;
}

#item1 {
    order: 5;
}

#item2 {
    order: 3;
}

#item3 {
    order: 2;
}

#item4 {
    order: 4;
}

#item5 {
    order: 1;
}

.desafioGenerico {
    display: flex;
    border: 1px solid red;
    flex-direction: row;
    flex-wrap: wrap;
}

.desafioItem {
    min-width: 200px;
    min-height: 200px;
    border: 3px dashed black;
}

#desafioItem1 {
    background-color: lightblue;
}

#desafioItem2 {
    background-color: pink;
}

#desafioItem3 {
    background-color: yellow;
}

#desafioItem4 {
    background-color: orange;
}

#desafioItem5 {
    background-color: lightgreen;
}